extends layout

block content
  .container
    h1 Drum Machine
    .row
        .span2
            button(class="drum btn btn-xlarge", data-sound="snare") Sound One
        .span2
            button(class="drum btn btn-xlarge", data-sound="hhat_closed") Sound Two
        .span2
            button(class="drum btn btn-xlarge", data-sound="hhat_open") Sound Three
        .span2
            .well
                h3 Drummers
                ul#users

  #userModal.modal.hide.fade
    .modal-header
      button(class="close", data-dismiss="modal", aria-hidden="true") &times;
      h3 Insert your name
    .modal-body
      input(type="text", id="user-name")
    .modal-footer
      a(href="#", class="btn btn-primary", id="join-drum") Apply
    
block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/drum.js')

